{% extends "auctions/layout.html" %}
{% block style%}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<style>
    @font-face {
        font-family: 'Raspoutine Medium';
        font-style: normal;
        font-weight: normal;
        src: local('Raspoutine Medium'), url('RaspoutineMedium_TB.woff') format('woff');
    }

    .heading-bg {
        padding: 5px;
        margin: 10px;
        font-style: bold;
        font-family: Raspoutine Medium;
        color: #ffffff;
        text-align: center;
    }

    #items-bg {
        display: flex;
        flex-wrap: wrap;
        margin: 10px;
        width: fit-content;
        background-color: #d79ca6;
    }

    .container {
        align-content: center;
        background-color: #ffffff;
        border-color: #d79ca6;
        display: block;
        border-style: outset;
        padding: 10px;
        height: 400px;
        overflow: hidden;
        width: 250px;
        flex: 0 0 200px;
        margin: 10px;

    }

    .container:hover {
        border-color: #e42378;
        cursor: hand;
        cursor: pointer;
        opacity: .9;
    }

    .img-div {
        width: 200px;
        height: 150px;
    }

    h6 {
        font-family: Raspoutine Medium;
        color: #e42378;
        font-size: 20px;
        font-style: bold;
    }

    #text-info {
        font-family: Raspoutine Medium;
        color: #d79ca6;
    }
</style>
{%endblock%}
{% block body %}
<div class='heading-bg'>
    <h2>Watchlist</h2>
</div>
<div id='items-bg'>
    {% for item in items%}
    <a style="text-decoration:none;" href="{% url 'listing' item.item.id %}">
        <div class='container' style="align-content:center;">
            <h6>{{item.item.name}}</h6>
            <div class='img-div'><img src="{{item.item.photo.url}}" style="height: 150px; width:auto;"></div>
            <br>
            {% if item.name in high_bids%}
                <span class="badge badge-pill badge-success">My Bid</span>
            {%endif%}
            
            <div id='text-info'>
                <p><strong>Current Bid:</strong> ${{item.item.price}}</p>
                <p><strong>Description:</strong> {{item.item.description}}</p>
            </div>
        </div>
    </a>
    {%endfor%}
</div>
<div id="comments-text">
            <h3>Comments</h3>
        </div>
        {% for comment in items.comments.all %}
            <div class="comments-bg"> 
                <hr>
                <div class="card" style="width: 100%;">
                    <div class="card-header">
                        {{comment.author.first_name}} {{comment.author.last_name}}
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>{{comment.comment}}</p>
                            <footer class="blockquote-footer">
                                {% with ''|center:comment.rating as range %}
                                {% for _ in range %}
                                <span class="fa fa-star checked"></span>
                                {% endfor %}
                                {% endwith %}
                            </footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        {%endfor%}
        {% if user.is_authenticated%}
        <div id="comments-text">
            <h3 >Add Comment</h3>
        </div>
        <div class="comments-bg">
            <form action="{% url 'listing' items.id %}" method="POST" id="add-comment">
                {% csrf_token %}
                <div class="card" style="width: 100%;">
                    <div class="card-header">
                        <input type="text" name="author" placeholder="username" class="comment-input-bar">
                    </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p><textarea form='add-comment' name="comment" class="comment-input-bar" placeholder="Your Comment"></textarea></p>
                        <footer class="blockquote-footer">
                            <input type="number" name="rating" placeholder="Rating out of 5" max="5" class="comment-input-bar">
                        </footer>
                    </blockquote>
                </div>
                <button type="submit" name="comment-submit" style="position:relative;width:fit-content; float:right;">Save</button>
            </form>
        </div>
        {%endif%}
{% endblock %}